<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">
                Sobre
            </h2>
            <p class="footer__about-text">
                Teste Teste Teste
            </p>
        </section>
        <address>
            <h2 class="footer__title">
                Contato
            </h2>
            <ul>
                <li><fa-icon [icon]="faEnvelope"></fa-icon> thiagoh544@gmail.com</li>
                <li><fa-icon [icon]="faPhone"></fa-icon> (35) 3861-0000</li>
                <li><fa-icon [icon]="faWhatsapp"></fa-icon> (35) 99800-0000</li>
                <li></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos Direitos Reservados
    </section>
</footer>
